<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Cloud Skills Survey Form</title>

  <!-- Link CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <!-- Link JS -->
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>

    <h1>Survey: Cloud Skills & Web Careers</h1>

    <form id="surveyForm" method="POST" action="/submit">

        <!-- SECTION 1: Demographics & Background -->
         <div class="question-block">
            <h3>1. What is your current professional status?</h3>

            <label><input type="radio" name="status" value="Student" required> Student</label>
            <label><input type="radio" name="status" value="Intern/Graduate"> Intern / Graduate Developer</label>
            <label><input type="radio" name="status" value="Junior Dev"> Junior Web Developer</label>
            <label><input type="radio" name="status" value="Mid Dev"> Mid-level Web Developer</label>
            <label><input type="radio" name="status" value="Senior Dev"> Senior Developer / Lead Engineer</label>
            <label>
                <input type="radio" name="status" value="Other" id="statusOtherRadio"> Other (please specify):
            </label>
            <input type="text" name="status_other" id="statusOtherInput" class="hidden-input" placeholder="Please specify" />
        </div>

        <div class="question-block">
            <h3>2. How many years of experience do you have in web development (including internships)?</h3>
            <label><input type="radio" name="experience" value="Less than 1" required> Less than 1 year</label>
            <label><input type="radio" name="experience" value="1-2"> 1-2 years</label>
            <label><input type="radio" name="experience" value="3-5"> 3-5 years</label>
            <label><input type="radio" name="experience" value="6-10"> 6-10 years</label>
            <label><input type="radio" name="experience" value="More than 10"> More than 10 years</label>
        </div>

        <div class="question-block">
            <h3>3. Which region are you currently working/studying in?</h3>
            <label><input type="radio" name="country" value="UK" required> UK</label>
            <label><input type="radio" name="country" value="EU"> EU</label>
            <label><input type="radio" name="country" value="North America"> North America</label>
            <label><input type="radio" name="country" value="Asia"> Asia</label>
            <label><input type="radio" name="country" value="Other" id="countryOtherRadio"> Other (please specify):</label>
            <input type="text" name="country_other" id="countryOtherInput" class="hidden-input" placeholder="Please specify" />
        </div>
        

        <!-- SECTION 2: Cloud Skills & Usage -->
        <div class="question-block">
            <h3>4. Which cloud platforms are you familiar with? (Select all that apply)</h3>
            <label><input type="checkbox" name="cloud_platforms[]" value="AWS"> Amazon Web Services (AWS)</label><br>
            <label><input type="checkbox" name="cloud_platforms[]" value="Azure"> Microsoft Azure</label><br>
            <label><input type="checkbox" name="cloud_platforms[]" value="GCP"> Google Cloud Platform (GCP)</label><br>
            <label><input type="checkbox" name="cloud_platforms[]" value="DigitalOcean"> DigitalOcean / Linode</label><br>
            <label><input type="checkbox" name="cloud_platforms[]" value="None"> I’m not familiar with any cloud platforms</label><br>
        </div>

        <div class="question-block">
            <h3>5. Which of the following cloud-related skills do you currently have? (Select all that apply)</h3>
            <label><input type="checkbox" name="cloud_skills[]" value="Basic Deployment"> Basic cloud deployment</label><br>
            <label><input type="checkbox" name="cloud_skills[]" value="CI/CD"> CI/CD pipelines</label><br>
            <label><input type="checkbox" name="cloud_skills[]" value="Docker"> Docker or containerization</label><br>
            <label><input type="checkbox" name="cloud_skills[]" value="Kubernetes"> Kubernetes</label><br>
            <label><input type="checkbox" name="cloud_skills[]" value="Serverless"> Serverless functions (e.g., AWS Lambda)</label><br>
            <label><input type="checkbox" name="cloud_skills[]" value="API Gateway"> API gateway / load balancers</label><br>
            <label><input type="checkbox" name="cloud_skills[]" value="Cloud Databases"> Cloud-based databases</label><br>
            <label><input type="checkbox" name="cloud_skills[]" value="IAM"> Identity and access management (IAM)</label><br>
            <label><input type="checkbox" name="cloud_skills[]" value="None"> None of the above</label><br>
        </div>

        <div class="question-block">
            <h3>6. Where did you learn your cloud computing skills? (Select all that apply)</h3>
            <label><input type="checkbox" name="cloud_learning[]" value="University"> University courses</label><br>
            <label><input type="checkbox" name="cloud_learning[]" value="Online Courses"> Online courses (e.g., Coursera, Udemy)</label><br>
            <label><input type="checkbox" name="cloud_learning[]" value="On-the-job"> On-the-job training</label><br>
            <label><input type="checkbox" name="cloud_learning[]" value="Self-taught"> Self-taught via documentation/tutorials</label><br>
            <label><input type="checkbox" name="cloud_learning[]" value="None"> I don’t have any cloud skills yet</label><br>
        </div>


        <!-- SECTION 3: Industry Trends & Career Impact -->
        <div class="question-block">
            <h3>7. How important do you think cloud computing skills are for modern web developers?</h3>
            <label><input type="radio" name="cloud_importance" value="Not important" required> Not important</label><br>
            <label><input type="radio" name="cloud_importance" value="Slightly important"> Slightly important</label><br>
            <label><input type="radio" name="cloud_importance" value="Moderately important"> Moderately important</label><br>
            <label><input type="radio" name="cloud_importance" value="Very important"> Very important</label><br>
            <label><input type="radio" name="cloud_importance" value="Essential"> Essential</label><br>
            <h4>Why do you think this level of importance applies?</h4>
            <textarea name="importance_reason" rows="4" cols="50"></textarea><br>
        </div>

        <div class="question-block">
            <h3>8. To what extent do you agree with the statement: “Cloud computing skills improve job prospects in web development”?</h3>
            <label><input type="radio" name="job_prospect_agreement" value="Strongly disagree" required> Strongly disagree</label><br>
            <label><input type="radio" name="job_prospect_agreement" value="Disagree"> Disagree</label><br>
            <label><input type="radio" name="job_prospect_agreement" value="Neutral"> Neutral</label><br>
            <label><input type="radio" name="job_prospect_agreement" value="Agree"> Agree</label><br>
            <label><input type="radio" name="job_prospect_agreement" value="Strongly agree"> Strongly agree</label><br>
            <h4>Why did you choose this level of agreement?</h4>
            <textarea name="job_prospect_reason" rows="4" cols="50"></textarea><br>
        </div>

        <div class="question-block">
            <h3>9. Have cloud computing skills helped you get hired, promoted, or given more responsibilities?</h3>
            <label><input type="radio" name="cloud_career_impact" value="Yes, significantly" required> Yes, significantly</label><br>
            <label><input type="radio" name="cloud_career_impact" value="Yes, somewhat"> Yes, somewhat</label><br>
            <label><input type="radio" name="cloud_career_impact" value="No noticeable impact"> No noticeable impact</label><br>
            <label><input type="radio" name="cloud_career_impact" value="Not applicable"> Not applicable / I do not work with cloud skills</label><br>
            <h4>Why do you think your experience turned out this way?</h4>
            <textarea name="cloud_career_reason" rows="4" cols="50"></textarea><br>
        </div>

        <div class="question-block">
            <h3>10. In your current (or most recent) role, how often do you use cloud technologies in your workflow?</h3>
            <label><input type="radio" name="cloud_usage_frequency" value="Daily" required> Daily</label><br>
            <label><input type="radio" name="cloud_usage_frequency" value="Weekly"> Weekly</label><br>
            <label><input type="radio" name="cloud_usage_frequency" value="Occasionally"> Occasionally</label><br>
            <label><input type="radio" name="cloud_usage_frequency" value="Rarely"> Rarely</label><br>
            <label><input type="radio" name="cloud_usage_frequency" value="Never"> Never</label><br>
            <h4>Why do you use them with this frequency?</h4>
            <textarea name="cloud_usage_reason" rows="4" cols="50"></textarea><br>
        </div>

        <div class="question-block">
            <h3>11. Do you think cloud skills will become mandatory for web developers in the next 5 years?</h3>
            <label><input type="radio" name="cloud_mandatory" value="Definitely not" required> Definitely not</label><br>
            <label><input type="radio" name="cloud_mandatory" value="Unlikely"> Unlikely</label><br>
            <label><input type="radio" name="cloud_mandatory" value="Neutral"> Neutral</label><br>
            <label><input type="radio" name="cloud_mandatory" value="Likely"> Likely</label><br>
            <label><input type="radio" name="cloud_mandatory" value="Definitely"> Definitely</label><br>
            <h4>Why do you think this is the case?</h4>
            <textarea name="cloud_mandatory_reason" rows="4" cols="50"></textarea><br>
        </div>


        <!-- SECTION 4: Skill Gaps & Education -->
        <div class="question-block">
            <h3>12. Do you feel that universities are adequately teaching cloud computing skills to prepare web developers for industry roles?</h3>
            <label><input type="radio" name="edu_adequacy" value="Strongly disagree" required> Strongly disagree</label><br>
            <label><input type="radio" name="edu_adequacy" value="Disagree"> Disagree</label><br>
            <label><input type="radio" name="edu_adequacy" value="Neutral"> Neutral</label><br>
            <label><input type="radio" name="edu_adequacy" value="Agree"> Agree</label><br>
            <label><input type="radio" name="edu_adequacy" value="Strongly agree"> Strongly agree</label><br>
            <h4>Why do you feel this way?</h4>
            <textarea name="edu_adequacy_reason" rows="4" cols="50"></textarea><br>
        </div>

        <div class="question-block">
            <h3>13. Which of the following would help bridge the gap between education and industry needs in cloud computing? (Select all that apply)</h3>
            <label><input type="checkbox" name="edu_improvements[]" value="More practical projects using cloud platforms"> More practical projects using cloud platforms</label><br>
            <label><input type="checkbox" name="edu_improvements[]" value="Partnerships between universities and tech companies"> Partnerships between universities and tech companies</label><br>
            <label><input type="checkbox" name="edu_improvements[]" value="Access to free cloud credits"> Access to free cloud credits</label><br>
            <label><input type="checkbox" name="edu_improvements[]" value="Certification preparation (e.g., AWS Certified Developer)"> Certification preparation (e.g., AWS Certified Developer)</label><br>
            <label><input type="checkbox" name="edu_improvements[]" value="Guest lectures or workshops from industry professionals"> Guest lectures or workshops from industry professionals</label><br>
            <label><input type="checkbox" name="edu_improvements[]" value="I believe current education is sufficient"> I believe current education is sufficient</label><br>
            <h4>Why do you think these options would be effective (or not needed)?</h4>
            <textarea name="edu_improvements_reason" rows="4" cols="50"></textarea><br>
        </div>


        <!-- SECTION 5: Open Feedback (Optional) -->
        <div class="question-block">
            <h3>14. In your opinion, what are the most valuable cloud skills for web developers today?</h3>
            <textarea name="valuable_cloud_skills" rows="4" cols="50" placeholder="Your answer here..."></textarea><br>
        </div>

        <div class="question-block">
            <h3>15. Do you have any suggestions on how universities can better prepare students for cloud-integrated web development careers?</h3>
            <textarea name="university_suggestions" rows="4" cols="50" placeholder="Your answer here..."></textarea><br>
        </div>
    
        <button type="submit">Submit Survey</button>
    </form>
</body>
</html>
